<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Quiz1</title>
</head>
<body ng-app="info" ng-controller="person">
    <p>Name:<input type="text" ng-model="name"></p>
    <p>Phone:<input type="text" ng-model="phone"></p>
    <button ng-click="click()" type="button" name="Send">Send</button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.3/angular.min.js" ></script>
  <script src="app.js"></script>
</body>
</html>
